<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunyun.zoneadmin.dal.dao.CyUserInviteRecordMapper">
  <resultMap id="BaseResultMap" type="com.cunyun.zoneadmin.dal.model.CyUserInviteRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="invited_uid" jdbcType="VARCHAR" property="invitedUid" />
    <result column="invited_name" jdbcType="VARCHAR" property="invitedName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, invited_uid, invited_name, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cy_user_invite_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.cunyun.zoneadmin.dal.model.CyUserInviteRecord">
    insert into cy_user_invite_record (id, uid, invited_uid, 
      invited_name, created_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{invitedUid,jdbcType=VARCHAR}, 
      #{invitedName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cunyun.zoneadmin.dal.model.CyUserInviteRecord">
    insert into cy_user_invite_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="invitedUid != null">
        invited_uid,
      </if>
      <if test="invitedName != null">
        invited_name,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="invitedUid != null">
        #{invitedUid,jdbcType=VARCHAR},
      </if>
      <if test="invitedName != null">
        #{invitedName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cunyun.zoneadmin.dal.model.CyUserInviteRecord">
    update cy_user_invite_record
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="invitedUid != null">
        invited_uid = #{invitedUid,jdbcType=VARCHAR},
      </if>
      <if test="invitedName != null">
        invited_name = #{invitedName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cunyun.zoneadmin.dal.model.CyUserInviteRecord">
    update cy_user_invite_record
    set uid = #{uid,jdbcType=VARCHAR},
      invited_uid = #{invitedUid,jdbcType=VARCHAR},
      invited_name = #{invitedName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>